#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define PS 1

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  L CTRL  |  V  |  L   |  E   |  B   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
// |  TAB  |  M  |  UARW  |  G   |  S   |  X   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
// |  RET  |  LARW  |  DARW  |  RARW   |  P   |  N   | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
//                     | RET  | R  | Z  |  L ALT  |   L SHIFT   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |
            bindings = <
    &kp ESC  &kp LCTL &kp V &kp L &kp E &kp B                                            &kp Y &kp U  &kp I    &kp O   &kp P    &kp BSLH
    &kp TAB  &kp M &kp UARW &kp G &kp S &kp X                                            &kp H &kp J  &kp K    &kp L   &kp SCLN &kp QUOT
    &kp RET &kp LARW &kp DARW &kp RARW &kp P &kp N &kp LSFT &kp LSFT        &kp LSFT &kp LSFT &kp N &kp M  &kp CMMA &kp DOT &kp FSLH &kp RCTL
                  &kp RET &kp R &kp Z &kp LALT &kp LSFT            &kp RET  &kp SPC  &kp TAB &kp BKSP &kp RALT
            >;

            sensor-bindings = <&inc_dec_cp M_VOLU M_VOLD &inc_dec_kp PGUP PGDN>;
        };
    };
};